body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Nav Bar */
.fa-seedling {
  padding-right: 4px;
}

/* Title */
#title {
  background-color: #ff4c68;
}

#home-image {
  width: 25rem;
  height: auto;
  padding: 70px 0;
  border: 3px;
}

/* Features */
#features {
  padding: 5%;
  background-color: white;
  z-index: 1;
  position: relative;
}

.feature-icon {
  color: #ef8172;
  padding-bottom: 5px;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-description {
  color: #8f8f8f;
}

/* Login */
#login_div {
  width: 20%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
  text-align: center;
  border-style: solid;
}

#loginP {
  text-align: center;
  margin: 5px 0 5px 0;
}

#password_field{
  margin-bottom: 10px;
}

/* Upload Files */
#submit-button{
  margin-bottom: 10px;
}

.drop-zone {
  max-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
  margin: 20px auto 20px auto;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
  display: inline-block;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
